* {
  box-sizing: border-box;
}

h1 {
  font-family: "Francois One", sans-serif;
  color: #f3f3f4;
  text-shadow: 2px 2px rgba(64, 84, 110, 0.85);
  font-size: 60px;
  display: inline-block;
}

h2,
button,
main,
footer,
label {
  font-family: "Quattrocento Sans", sans-serif;
}

h2 {
  font-style: italic;
  font-size: 22px;
  color: #f3f3f4;
  margin-top: -25px;
}

.big-nose {
  display: inline-block;
  height: 55px;
  padding-top: 5px;
}

.header-container {
  width: 316px;
  padding-top: 50px;
  padding-bottom: 70px;
  margin: 0 auto;
  position: relative;
  /* border: 1px solid white; */
}

main {
  background: rgba(243, 243, 244, 0.5);
  width: 100%;
  height: 100%;
  margin-bottom: -13px;
}

.demo-button,
.login-button {
  width: 220px;
  padding: 4px;
  margin: 10px auto 10px auto;
  display: block;
  border-radius: 25px;
  color: #303030;
  font-size: 110%;
  background-color: #f3f3f4;
  border: 2px solid #d59562;
}

.demo-button:hover,
.login-button:hover {
  background-color: #cdd1d6;
}

.explain-box {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  font-size: 105%;
}

.asterisk {
  font-size: 95%;
}

.cred {
  font-size: 98%;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 5px;
}

.github-icon {
  width: 32px;
  margin: 0 auto;
  display: block;
}

footer {
  width: 100%;
  height: 100px;
  background: rgba(243, 243, 244, 0.75);
  margin-top: 0;
}

.login-form {
  position: absolute;
  width: 316px;
  background: rgba(243, 243, 244, 0.9);
  top: -100px;
  transition: 0.5s;
}

.drop-in {
  transition: 0.5s;
  top: 100px;
}

label {
  display: block;
}

@media only screen and (min-width: 800px) {
}
