* {
  box-sizing: border-box;
}

.mapcontain {
  width: 100%;
  height: 800px;
  position: absolute;
  margin: auto;
  margin-right: auto;
}

.bullseye {
  width: 20px;
  height: 20px;
  border: 3px solid red;
  border-radius: 100%;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
}

#map {
  width: 100%;
  height: 800px;
  position: absolute;
  background-color: grey;
  margin: auto;
  margin-right: auto;
}

h1 {
  font-family: "Biryani", sans-serif;
  text-align: center;
  font-size: 40px;
}

.hidden {
  display: none;
}

p,
div,
button {
  font-family: "Quattrocento Sans", sans-serif;
}

.subhead {
  text-align: center;
  margin-top: -25px;
}

.show-new-smell-form {
  width: 150px;
  padding: 2px;
  margin: -5px auto 10px auto;
  display: block;
}

.page-header {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.new-smell {
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 378px;
  background-color: rgba(191, 191, 193, 0.85);
  z-index: 1;
}

.content-container {
  position: relative;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.radio-category {
  display: block;
}

.first {
  padding-top: 5px;
}

.create-smell-button,
.update-smell-button {
  width: 120px;
  padding: 2px;
  margin: 8px auto 0 auto;
  display: block;
}

.category-title {
  margin: 3px auto 3px 3px;
}

.text-field-title {
  display: block;
  margin: 3px;
}

.intensity-slider {
  display: block;
  width: 267px;
  margin: 8px auto 0 3px;
}

.smell-title {
  width: 267px;
  margin-left: 3px;
}

.smell-description {
  width: 267px;
  height: 50px;
  margin-left: 3px;
}

@media only screen and (min-width: 700px) {
  .new-smell {
    left: 0;
    top: 0;
    width: 290px;
    height: 450px;
  }

  .mapcontain {
    height: 450px;
  }

  #map {
    height: 450px;
  }
}
