* {
  box-sizing: border-box;
}

.mapcontain {
  width: 100%;
  height: 900px;
  position: relative;
}

.location {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
}

.bullseye {
  width: 70px;
  height: 70px;
  border: 25px solid rgba(243, 98, 66, 0.4);
  border-radius: 100%;
}

.location-explain {
  width: 220px;
  padding: 4px;
  border-radius: 25px;
  z-index: 3;
  position: absolute;
  margin-top: -26px;
  margin-left: -72px;
  text-align: center;
  background: rgba(243, 98, 66, 0.4);
  color: white;
}

#map {
  width: 100%;
  height: 900px;
  position: absolute;
  background-color: grey;
  margin: auto;
  margin-right: auto;
}

h1 {
  font-family: "Biryani", sans-serif;
  text-align: center;
  font-size: 40px;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

p,
div,
button {
  font-family: "Quattrocento Sans", sans-serif;
}

.show-new-smell-form {
  width: 150px;
  padding: 2px;
  margin: -5px auto 10px auto;
  display: block;
}

.page-header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.new-smell {
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 370px;
  background-color: rgba(191, 191, 193, 0.85);
  z-index: 1;
}

.content-container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.radio-category {
  display: block;
}

.first {
  padding-top: 5px;
}

.create-smell-button,
.update-smell-button {
  width: 120px;
  padding: 2px;
  margin: 8px auto 0 auto;
  display: block;
}

.category-title {
  margin: 3px auto 3px 3px;
}

.text-field-title {
  display: block;
  margin: 3px;
}

.smell-title {
  width: 267px;
  margin-left: 3px;
}

.smell-description {
  width: 267px;
  height: 50px;
  margin-left: 3px;
}

.close {
  border: none;
  /* background: #F5F5F5; */
  font-size: 150%;
  position: absolute;
  /* color: #d75c37; */
  right: 0;
  bottom: 0;
}

.smell-form {
  padding-top: 30px;
}

@media only screen and (min-width: 800px) {
  .new-smell {
    left: 0;
    top: 0;
    width: 290px;
    height: 450px;
  }

  .mapcontain {
    height: 450px;
  }

  #map {
    height: 450px;
    bottom: 0;
    left: 0;
  }
}
