* {
  box-sizing: border-box;
}

body {
  background: #242f3e;
}

.mapcontain {
  width: 100%;
  height: 900px;
  position: relative;
  background: #242f3e;
}

.location {
  z-index: 1;
  width: 220px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -110px;
}

.bullseye {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 25px solid rgba(243, 98, 66, 0.6);
  left: 50%;
  top: 50%;
  border-radius: 100%;
  margin: -35px 0 0 -35px;
}

.location-explain {
  width: 220px;
  padding: 4px;
  border-radius: 25px;
  z-index: 3;
  margin-top: 39px;
  text-align: center;
  background: rgba(243, 98, 66, 0.6);
  color: #f3f3f4;
  text-shadow: 1px 1px #303030;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #242f3e;
  margin: auto;
  margin-right: auto;
}

.page-header {
  width: 100%;
  top: 0;
  height: 40px;
  background: #242f3e;
}

/* h1 {
  font-family: "Biryani", sans-serif;
  text-align: center;
  font-size: 40px;
  margin-bottom: 5px;
  color: #fcca46;
} */

.hidden {
  display: none;
}

p,
div,
button {
  font-family: "Quattrocento Sans", sans-serif;
}

.show-new-smell-form {
  width: 160px;
  padding: 4px;
  margin: 10px auto 10px auto;
  display: block;
  border-radius: 25px;
  color: #303030;
  font-size: 110%;
  background-color: #f3f3f4;
  border: 2px solid #d59562;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  top: -45px;
}

.show-new-smell-form:hover:enabled,
.create-smell-button:hover {
  background-color: #cdd1d6;
}

.show-new-smell-form:disabled {
  color: #7b7d80;
}

/* .listenShowNewSmell:disabled:hover {
  background-color: #f3f3f4;
} */

.new-smell {
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 383px;
  background-color: rgba(64, 84, 110, 0.85);
  z-index: 2;
}

.content-container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.radio-category {
  display: block;
}

.first {
  padding-top: 5px;
}

.create-smell-button {
  width: 120px;
  padding: 2px;
  margin: 15px auto 0 auto;
  display: block;
  border-radius: 25px;
  color: #303030;
  font-size: 110%;
  background-color: #f3f3f4;
  border: 2px solid #d59562;
}

/* .category-title {
  margin: 3px auto 3px 3px;
} */

.text-field-title {
  display: block;
  margin: 18px 3px 3px 3px;
}

.smell-title {
  width: 267px;
  margin-left: 3px;
}

.smell-description {
  width: 267px;
  height: 50px;
  margin-left: 3px;
  margin-bottom: 13px;
}

.close {
  border: none;
  background-color: rgba(191, 191, 193, 0);
  font-size: 200%;
  position: absolute;
  /* color: #d75c37; */
  right: 0;
  top: 0;
  color: #f3f3f4;
}

.smell-form {
  color: #f3f3f4;
  text-shadow: 1px 1px #303030;
  font-size: 103%;
}

@media only screen and (min-width: 800px) {
  .new-smell {
    left: 0;
    height: 100%;
    width: 290px;
  }

  .mapcontain {
    height: 550px;
  }

  .show-new-smell-form {
    top: 10px;
  }

  #map {
    height: 100%;
    bottom: 0;
    left: 0;
  }
}
